    .chatTitleSk {
        width: 150px;
        height: 18px;
    }

    .iconsSk {
        display: flex;
        gap: 10px;
    }

    .iconSk {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    .messagesSk {
        flex: 1;
        padding: 20px;
    }

    .msgRow {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;
    }

    .msgRow.right {
        justify-content: flex-end;
    }

    .avatarMsgSk {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .bubbleSk {
        width: 180px;
        height: 35px;
        border-radius: 12px;
    }

    .inputSk {
        height: 50px;
        margin: 10px;
    }


    /* make whole chat take available height */
    .chatSkeletonWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* header stays fixed */
    .ChatInfo {
        flex-shrink: 0;
        display: flex;
    justify-content: space-between;
    }
 

    /* messages take ALL remaining space */
    .messagesSk {
        flex: 1;
        padding: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* input fixed at bottom */
    .inputSk {
        height: 60px;
        margin: 10px;
        flex-shrink: 0;
    }

    .messagesSk {
        flex: 1;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    /* alignment */
    .msgRow {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    .msgRow.right {
        justify-content: flex-end;
    }

    /* avatar */
    .avatarMsgSk {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    /* bubble base */
    .bubbleSk {
        height: 36px;
        border-radius: 18px;
    }

    /* realistic widths */
    .sm {
        width: 110px;
    }

    .md {
        width: 170px;
    }

    .lg {
        width: 240px;
    }