.navSkeleton {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logoSk {
    width: 80px;
    height: 20px;
}

.profileSk {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.searchSk {
    width: 90%;
    height: 35px;
    margin: 10px;
}

.chatUserSk {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.avatarSk {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.textSk {
    flex: 1;
}

.nameSk {
    height: 14px;
    width: 60%;
    margin-bottom: 8px;
}

.msgSk {
    height: 12px;
    width: 40%;
}